@if(ViewModel is not null)
{
    <div @attributes=WrapperAttributes>
        @if(ViewModel.IsValidated)
        {
            <div class="control">
                @if(AfterValidate is null)
                {
                    <button type="@Properties.Button.ToString().ToLower()" @onclick=OnSubmit class="button is-success">Send</button>
                }
                else
                {
                @AfterValidate
                }
            </div>
        }
        else
        {
            <span class="help">@Properties.Description</span>
            @if(Properties.Type != CaptchaType.Numeric)
            {
                <span class="label">@ViewModel.Question</span>
            }
            <div class="field has-addons">
                <div class="control">
                    <input type="text" @bind=ViewModel.ToValidate class="input"
                           placeholder="@(Properties.Type == CaptchaType.Numeric ? ViewModel.Question : Properties.Placeholder)" />
                </div>
                <div @onclick=OnValidate_Click class="control">
                    @if(BeforeValidate is null)
                    {
                        <span class="button is-info">Validate!</span>
                    }
                    else
                    {
                        @BeforeValidate
                    }
                </div>
            </div>
            <div class="error">
                @if(!ViewModel.IsValidated)
                {
                    <span class="validation-message">@Properties.ErrorMessage</span>
                }
            </div>
        }
    </div>
}
